.container
  %h4 Что такое чат Skype?
  %p Обмен мгновенными сообщениями (чат) Skype - это альтернатива голосовому общению через Skype. Как и голосовые звонки другим абонентам Skype, общение в чате не будет стоить вам ни копейки. Выберите абонента в списке контактов, введите текст своего сообщения, отправьте его и тут же получите ответ. Этот способ связи также очень удобен, если вам нужно передать такую информацию, как адрес веб-сайта.
  %p Общаться в чате можно с несколькими абонентами сразу. Участники такого группового чата тут же получают все отправленные сообщения.
  %hr/
  %h4 Как создать свой чат и пригласить друзей?
  %ol
    %li Создаем новый чат( Меню контакты -> Создать новую группу)
    %li
      В созданном чате набираем следующую команду:
      %pre /set options +JOINING_ENABLED
      в результате выполнения этой команды у чата выставляется опция , позволяющая новому человеку самому добавлять в группу. если ее не выставить — новый участник сам добавиться не сможет.
    %li
      Набираем команду:
      %pre /get options
      Если мы видим сообщение:
      %pre sys: options=JOINING_ENABLED
      все хорошо и теперь учасники смогут добавляться сами.
      %br/
      Если же мы видим
      %pre sys: options=
      что, в options нет строки "JOINING_ENABLED", то нужно повторить шаг 2.
    %li

      Наберем
      %pre /get uri
      В результате получаем ссылку вида
      %pre skype:?chat&blob=sdASDWDGREfVfVvFvTGYhryHrtGFvDYTydgdfGdfTYTYTyGFdGdfGTytGGfddfDYJUuKIkhJseJUIKIgbVDFvFDGtHyHtyHfdVdwEWrETYTUytutyutrGffdHGGHUJKyNhnfgBfgHuJhgfhgyjTY
      Готово!
      Теперь мы можем отправить ссылку друзьям.
    %hr/
    Полезные ссылки:
    %br/
    %a{:href => "http://ru.wikipedia.org/wiki/Википедия:Скайп/Команды"} http://ru.wikipedia.org/wiki/Википедия:Скайп/Команды
    %br/
    %a{:href => "http://habrahabr.ru/post/97561/"} http://habrahabr.ru/post/97561/

