    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="intro-message">
                          <div class="logo"></div>
                        <h3>вместе со SkypeChats вы можете:</h3>
                        <br>
                        <ul class="list-inline intro-social-buttons">

                            <li>
                              <%= link_to(new_chat_path, class: "btn btn-primary btn-lg") do %>
                                 <i class="fa fa-plus-circle"></i><span class="network-name"> Добавлять чаты</span>
                              <% end %>
                            </li>

                            <li>
                              <%= link_to(chats_path, class: "btn btn-default btn-lg") do %>
                                 <i class="fa fa-arrow-circle-o-right"></i> <span class="network-name">Вступать в чаты</span>
                              <% end %>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->





