    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">skype-chats.com 2013 </p>
                    <p class="copyright text-muted small">разработка сайтов <a href="http://istickz.ru">iStickz</a></p>
                </div>
            </div>
        </div>
    </footer>
